In [1]:
import pandas as pd

xk_df = pd.read_csv("../csv/xk.csv")
xk_df = xk_df[
    xk_df["Ngành"].isin(
        ["TỔNG TRỊ GIÁ", "Khu vực kinh tế trong nước", "Khu vực có vốn đầu tư NN"]
    )
]
xk_df

,Unnamed: 0,Ngành,Total-M,Total-YOY,YOY,YTD-YOY,Date
0,0,TỔNG TRỊ GIÁ,30940.000000,123640.000000,10.598698,14.987298,2024-04-29
1,1,Khu vực kinh tế trong nước,8726.992959,33624.211162,11.841004,21.040081,2024-04-29
2,2,Khu vực có vốn đầu tư NN,22213.007041,90015.788838,10.118142,12.878806,2024-04-29
39,39,TỔNG TRỊ GIÁ,34010.000000,93060.000000,14.191012,16.983166,2024-03-29
40,40,Khu vực kinh tế trong nước,9539.525713,25209.707131,21.246905,26.197656,2024-03-29
...,...,...,...,...,...,...,...
4330,4330,Khu vực kinh tế trong nước,3270.000000,7205.000000,NaN,13.200000,2014-02-28
4331,4331,Khu vực có vốn đầu tư NN,6330.000000,13855.000000,NaN,11.800000,2014-02-28
4362,4362,TỔNG TRỊ GIÁ,10300.000000,10300.000000,-10.800000,-10.800000,2014-01-29
4363,4363,Khu vực kinh tế trong nước,3520.000000,3520.000000,-13.800000,-13.800000,2014-01-29
4364,4364,Khu vực có vốn đầu tư NN,6780.000000,6780.000000,-9.200000,-9.200000,2014-01-29

In [2]:
import pandas as pd

nk_df = pd.read_csv('../csv/nk.csv')
nk_df = nk_df[
    nk_df["Ngành"].isin(
        ["TỔNG TRỊ GIÁ", "Khu vực kinh tế trong nước", "Khu vực có vốn đầu tư NN"]
    )
]
nk_df

,Unnamed: 0,Ngành,Total-M,Total-YOY,YOY,YTD-YOY,Date
0,0,TỔNG TRỊ GIÁ,30260.0,115240.000000,19.870525,15.396986,2024-04-29
1,1,Khu vực kinh tế trong nước,11210.0,41863.837831,24.204604,19.659221,2024-04-29
2,2,Khu vực có vốn đầu tư NN,19050.0,73376.162169,17.458650,13.098550,2024-04-29
41,41,TỔNG TRỊ GIÁ,31080.0,84980.000000,9.705480,13.883591,2024-03-29
42,42,Khu vực kinh tế trong nước,10830.0,29696.990639,2.912738,14.393183,2024-03-29
...,...,...,...,...,...,...,...
4556,4556,Khu vực kinh tế trong nước,4650.0,9059.000000,NaN,16.800000,2014-02-28
4557,4557,Khu vực có vốn đầu tư NN,6150.0,11757.000000,NaN,17.100000,2014-02-28
4591,4591,TỔNG TRỊ GIÁ,10400.0,10400.000000,-1.900000,-1.900000,2014-01-29
4592,4592,Khu vực kinh tế trong nước,4600.0,4600.000000,-2.300000,-2.300000,2014-01-29
4593,4593,Khu vực có vốn đầu tư NN,5800.0,5800.000000,-1.500000,-1.500000,2014-01-29

In [3]:
xnk_merge = pd.merge(
    left=xk_df,
    right=nk_df,
    on=["Ngành", "Date"],
    suffixes=("-XK", "-NK"),
)
xnk_merge = xnk_merge.drop(columns=["Unnamed: 0-XK", "Unnamed: 0-NK"])
xnk_merge["Thặng dự tháng"] = xnk_merge["Total-M-XK"] - xnk_merge["Total-M-NK"]
xnk_merge["Thặng dự từ đầu năm"] = xnk_merge["Total-YOY-XK"] - xnk_merge["Total-YOY-NK"]
xnk_merge["Kim ngạch xnk tháng"] = xnk_merge["Total-M-XK"] + xnk_merge["Total-M-NK"]
xnk_merge["Kim ngạch xnk từ đầu năm"] = xnk_merge["Total-YOY-XK"] + xnk_merge["Total-YOY-NK"]
xnk_merge

,Ngành,Total-M-XK,Total-YOY-XK,YOY-XK,YTD-YOY-XK,Date,Total-M-NK,Total-YOY-NK,YOY-NK,YTD-YOY-NK,Thặng dự tháng,Thặng dự từ đầu năm,Kim ngạch xnk tháng,Kim ngạch xnk từ đầu năm
0,TỔNG TRỊ GIÁ,30940.000000,123640.000000,10.598698,14.987298,2024-04-29,30260.0,115240.000000,19.870525,15.396986,680.000000,8400.000000,61200.000000,238880.000000
1,Khu vực kinh tế trong nước,8726.992959,33624.211162,11.841004,21.040081,2024-04-29,11210.0,41863.837831,24.204604,19.659221,-2483.007041,-8239.626669,19936.992959,75488.048993
2,Khu vực có vốn đầu tư NN,22213.007041,90015.788838,10.118142,12.878806,2024-04-29,19050.0,73376.162169,17.458650,13.098550,3163.007041,16639.626669,41263.007041,163391.951007
3,TỔNG TRỊ GIÁ,34010.000000,93060.000000,14.191012,16.983166,2024-03-29,31080.0,84980.000000,9.705480,13.883591,2930.000000,8080.000000,65090.000000,178040.000000
4,Khu vực kinh tế trong nước,9539.525713,25209.707131,21.246905,26.197656,2024-03-29,10830.0,29696.990639,2.912738,14.393183,-1290.474287,-4487.283508,20369.525713,54906.697770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,Khu vực kinh tế trong nước,3270.000000,7205.000000,NaN,13.200000,2014-02-28,4650.0,9059.000000,NaN,16.800000,-1380.000000,-1854.000000,7920.000000,16264.000000
366,Khu vực có vốn đầu tư NN,6330.000000,13855.000000,NaN,11.800000,2014-02-28,6150.0,11757.000000,NaN,17.100000,180.000000,2098.000000,12480.000000,25612.000000
367,TỔNG TRỊ GIÁ,10300.000000,10300.000000,-10.800000,-10.800000,2014-01-29,10400.0,10400.000000,-1.900000,-1.900000,-100.000000,-100.000000,20700.000000,20700.000000
368,Khu vực kinh tế trong nước,3520.000000,3520.000000,-13.800000,-13.800000,2014-01-29,4600.0,4600.000000,-2.300000,-2.300000,-1080.000000,-1080.000000,8120.000000,8120.000000
369,Khu vực có vốn đầu tư NN,6780.000000,6780.000000,-9.200000,-9.200000,2014-01-29,5800.0,5800.000000,-1.500000,-1.500000,980.000000,980.000000,12580.000000,12580.000000

In [4]:
xnk_merge.to_csv("../csv/xnk.csv")